{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current",
              "ie":"11",
              "chrome":"58"
            }
          }
        ]
      ]
    }
  }
}
